<ul class="list-group">
    <li *ngFor="let item of items; let i = index;"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{ item }}
        <div>
            <button class="btn btn-primary" (click)="openTodoEditModal(updateOrderDetails, i, item)">Edit</button>

            <button class="btn btn-danger mr-2" (click)="openDeleteModal(item, i)">Remove</button>
        </div>
    </li>
</ul>

<!-- delete modal starts-->
<ng-template #deleteTodoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Remove Todo</h4>
        <button type="button" class="close" (click)="modal.dismiss('Close click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">No</button>
        <button type="button" class="btn btn_2" (click)="modal.close('Remove')">Yes</button>
    </div>
</ng-template>
<!--delete modal ends -->

<!--edit todo details modal start-->
<ng-template #updateOrderDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Update todoForm</h4>
        <button (click)="modal.close()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateTodoForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>New Todo:</label>
                        <input type="text" class="form-control" formControlName="newTodo">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="submitEditTodoModal()" class="btn btn_2" type="button">
            Save
        </button>
        <button (click)="modal.close()" class="btn btn-secondary" type="button">Close</button>
    </div>
</ng-template>
<!-- edit todo  modal end-->