@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
  }